# The number, 197, is called a circular prime because all rotations of the digits: 197, 971, and 719, are themselves prime.

# There are thirteen such primes below 100: 2, 3, 5, 7, 11, 13, 17, 31, 37, 71, 73, 79, and 97.

# How many circular primes are there below one million?

_____

# Instead of looping through all the numbers in 1 to 1 million, we'll first reduce the set of candidates

### We know that any number that contains a 2,4,6, 8 or 0 will not work because one of the rotations will be an even number

In [10]:
list_candidates = [x for x in range(3,1000001) if len([y for y in list(str(x)) if int(y)%2==0])==0]

- Reducing the candidates again with the first couple primes

In [11]:
list_candidates = [x for x in list_candidates if (x%3!=0)&(x%5!=0)&(x%7!=0)&(x%11!=0)]

- Running our slow prime checker on it now

In [12]:
def check_prime(n):
    max_check = ((n**0.5)//1)+1
    for i in range(2,int(max_check)):
        if n%i==0:
            return False
    return True

In [13]:
list_candidates = [x for x in list_candidates if check_prime(x)]

- Now taking the rotations

In [16]:
def check_rotations(p, list_candidates):
    s = str(p)
    n = len(str(p))
    for i in range(1,n):
        s = s[1:]+s[0]
        if int(s) not in list_candidates:
            return False
    return True

In [17]:
list_results = [x for x in list_candidates if check_rotations(x,list_candidates)]

In [20]:
list_results

[13,
 17,
 31,
 37,
 71,
 73,
 79,
 97,
 113,
 131,
 197,
 199,
 311,
 337,
 373,
 719,
 733,
 919,
 971,
 991,
 1193,
 1931,
 3119,
 3779,
 7793,
 7937,
 9311,
 9377,
 11939,
 19391,
 19937,
 37199,
 39119,
 71993,
 91193,
 93719,
 93911,
 99371,
 193939,
 199933,
 319993,
 331999,
 391939,
 393919,
 919393,
 933199,
 939193,
 939391,
 993319,
 999331]

# Recall: we removed 2, 3, 5, 7, and 11 from our list, so we need to add them back

In [21]:
list_results = [2,3,5,7,11] + list_results

In [22]:
len(list_results)

55

# Answer: 55